.container{
  position: absolute;
  display: flex;
  padding: 10px;
  width: 0vw;
  height: 0vh;
  background-color: var(--white);
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: all 500ms;
  gap: 40px;
  flex-direction: column;
}

.list{
  display: flex;
  width: auto;
  min-width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
  border: 1px solid;
}
.up{
  width: 100%;
  height: 100%;
  border-radius: 0;
  transform: translateY(0);
  opacity: 1;
}

.down{
  width: 0vw;
  height: 0vh;
  border-radius: 50px;
  transform: translateY(100vh);
  opacity: 0;
}

.return{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 4em;
}

.return h1{
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  width: 80%;
  text-align: center;
}