.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--raisin-black);
  color: var(--white);
  width: 250px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.5s, width 0.5s, height 0.5s;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.253);
}

.container:not(.up):hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.103);
  cursor: pointer;
}

.minimized {
  position: absolute;
  bottom: 2em;
}

.minimized img {
  width: 15em;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.13);
}

.bgImg img {
  width: 50em;
  opacity: 1;
  z-index: 1;
  transform: translate(10vw, 60vh);
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.301);
}

.smallLogo {
  position: absolute;
  top: 2em;
  left: 2em;
  width: 32px;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.logo img {
  width: 2em;
}

.smallLogo img {
  width: 100%;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 25px;
  align-items: center;
}

.title {
  font-size: 2rem;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
  z-index: 1000;
  gap: 20px;
  transition: 500ms;
  transition-delay: 500ms;
}

.return {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.info {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.description,
.header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  height: 100%;
  gap: 20px;
  line-height: 1.5;
}

.description p {
  font-weight: 600;
}

.up {
  top: 0;
  left: 0;
  align-self: center;
  justify-self: center;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  transition: 500ms;
} 

.live {
  display: flex;
  width: 80%;
  height: auto;
  max-height: 60%;
}

.live a {
  font-size: 2rem;
  color: var(--white);
  font-weight: 800;
  text-wrap: wrap;
  text-align: left;
}

.live a:hover {
  filter: brightness(80%);
}

.techs {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.techsList {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: safe;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.tech {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--dodger-blue);
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .bgImg {
    display: none;
  }

  .up {
    height: 100vh;
  }
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    z-index: 2;
    gap: 20px;
    transition: 500ms;
    transition-delay: 500ms;
  }
  

  .info {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
  }
  
  .description,
  .header {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 90%;
    height: 100%;
    gap: 20px;
    line-height: 1.5;
    font-size: .8rem;
  }
  .live a {
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 800;
    text-wrap: wrap;
    text-align: left;
  }
  .title{
    font-size: 1.4rem;
  }

}

/*BUTTON STyling*/
.btnSml{
  font-size: .8rem;
  padding: 20px 40px;
  position: relative;
  display: flex;
  border: 2px solid var(--dodger-blue);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.btnSml::before, .button::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--dodger-blue);
  top: 0;
  left: 0;
  transition: width 500ms; /* Alterei a propriedade de transição */
}

.button:hover::before, .btnSml:hover::before {
  width: 100%;
}

.button:hover a, .btnSml:hover a {
  color: var(--white);
}

.button a, .btnSml a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  text-decoration: none;
  color: var(--white);
  z-index: 1;
  transition: color 250ms;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: 550;
}


.light a{
  color: var(--raisin-black);
}
.dark a{
  color: var(--white);
}
/* Media queries para tornar o botão mais responsivo */
@media (max-width: 768px) {
  .button {
    font-size: 1rem;
    width: 50vw;
    height: 8vh;
  }

}
