.button {
  position: relative;
  display: flex;
  padding: 2em 6em; /* Ajuste conforme necessário */
  font-size: 1rem; /* Ajuste conforme necessário */
  border: 2px solid var(--dodger-blue);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  max-width: 200px;
  max-height: 100px;
}

.btnSml{
  font-size: .8rem;
  padding: 20px 40px;
  position: relative;
  display: flex;
  border: 2px solid var(--dodger-blue);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.btnSml::before, .button::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--dodger-blue);
  top: 0;
  left: 0;
  transition: width 500ms; /* Alterei a propriedade de transição */
}

.button:hover::before, .btnSml:hover::before {
  width: 100%;
}

.button:hover a, .btnSml:hover a {
  color: var(--white);
}

.button a, .btnSml a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  text-decoration: none;
  color: var(--white);
  z-index: 1;
  transition: color 250ms;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: 550;
}


.light a{
  color: var(--raisin-black);
}
.dark a{
  color: var(--white);
}
/* Media queries para tornar o botão mais responsivo */
@media (max-width: 768px) {
  .button {
    font-size: 1rem;
    width: 50vw;
    height: 8vh;
  }

}
