@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
  /* Primary */
  --dodger-blue: #1A579E;
  --imperial-red: #fb3640ff;
  /* Neutral */
  --rich-black: #101218ff;
  --white: rgb(236, 236, 236);
  --raisin-black: #212531ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", Roboto, sans-serif;
  cursor: none;
}

html, body{
  overflow: hidden;
}